<h2>Вход</h2>
<a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}">
        <img src="https://www.svgrepo.com/show/475656/google-color.svg" alt="Google" width="20" height="20">
        <span>Войти через Google</span>
      </a>  

<hr>

<div>
  <script src="https://unpkg.com/@vkid/sdk@<3.0.0/dist-sdk/umd/index.js"></script>
  <script type="text/javascript">
    if ('VKIDSDK' in window) {
      const VKID = window.VKIDSDK;

      VKID.Config.init({
        app: 53582624,
        redirectUrl: 'https://authmodule-0ei3.onrender.com/auth/complete/vk-oauth2/',
        responseMode: VKID.ConfigResponseMode.Callback,
        source: VKID.ConfigSource.LOWCODE,
        scope: '', 
      });

      const oneTap = new VKID.OneTap();

      oneTap.render({
        container: document.currentScript.parentElement,
        showAlternativeLogin: true,
        styles: {
          width: 300
        }
      })
      .on(VKID.WidgetEvents.ERROR, vkidOnError)
      .on(VKID.OneTapInternalEvents.LOGIN_SUCCESS, function (payload) {
        const code = payload.code;
        const deviceId = payload.device_id;

        VKID.Auth.exchangeCode(code, deviceId)
          .then(vkidOnSuccess)
          .catch(vkidOnError);
      });
          
            function vkidOnSuccess(data) {
                fetch("/auth/vk-onetap-callback/", {
                method: "POST",
                headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": getCookie('csrftoken')
                },
                body: JSON.stringify(data)
                })
                .then(response => response.json())
                .then(result => {
                if (result.redirect_url) {
                window.location.href = result.redirect_url;
                } else {
                alert("Ошибка авторизации через VK");
                }
                });

            }
            function vkidOnError(error) {
                console.error("VKID Error:", error);
                alert("Ошибка при авторизации через VK. Попробуйте позже.");
            }
          }
        </script>
      </div>  

<hr>

<script async src="https://telegram.org/js/telegram-widget.js?7"
        data-telegram-login="CenometrBot"
        data-size="large"
        data-userpic="false"
        data-auth-url="https://authmodule-0ei3.onrender.com/auth/complete/telegram/"
        data-request-access="write">
</script>

<hr>

{% if user.is_authenticated %}
  <p>Вы вошли как {{ user.username }}</p>
  {% for account in user.social_auth.all %}
    <p>Через: {{ account.provider }}</p>
  {% endfor %}
{% endif %}
